 .model {
        margin-top: 90px;
       font-family: "Gill Sans", sans-serif;
 }
 
   .imageDisp {
         width: 80%;
       height: 70%;
        border-radius: 10%;  
       
   }
   .container.cont{
       /* margin-top: -20px; */
      margin-bottom: 20px;
   }
  

   @media (max-width: 308px )    {
           

          .textbtn{
                 font-size: 10px;
                 /* Set the font size of the "Login to chat" button to 16px */
          }
   }
   .lead {
       margin-right: 10px
       
   }

 .newarrival {
       background-color: aliceblue;
       width: 50px;
       color: rgb(2, 7, 92);
       font-weight: 500;
font-family: cursive;
    }

    .col-md-7{
       color:#555;
    }

    .openexp {
       color: red;
    }

    .bookedBy{
       color: rgb(2, 7, 92);
    }