.bodySign{
  margin: 0; padding: 0;
  width: 100vw; min-height: 100vh;
  background-image: url("../Images/p1.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-position: center center;
  background-attachment: fixed; 
  } 

  .containerSign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    
  } 
  
  .form-box{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.507);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .header-form{
    margin-bottom:25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .body-form {
    padding-left: 12%;
    padding-right: 12%;

  }

  .WelcomeSign{
    color: #474f57;
  }

  .btn{
    width:100%;
    margin-bottom:10px;
  }

  .btnGrp{
    margin-top:40px;
    margin-bottom:20px;
  }

  

  .messageSign{
    display:flex;
    justify-content:space-between
  }
  
  .socialSign{
    display:flex;
    justify-content:space-around;
    padding:30px;
  }
